body{
    margin: 0px;
    padding: 0pc;
}
.navigator{
    transition: 1s;
}
.top-page{
    background: url('../img/bg1.jpeg') no-repeat center center/cover;
    height: 100vh;
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 10;
}
#logo-image{
    height: 30px;
    width: 30px;
    margin: 1rem;
}
#logo-image:hover{
    transform: scale(1.2);
    transition: 0.4s;
    cursor: pointer;
}
.top-right{
    margin-left: 20rem;
}
.top-right ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.top-right ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.7rem;
    margin: auto 50px;
    font-family: 'Raleway', sans-serif;
}
.top-right ul li a:hover{
    color: red;
    transition: 0.4s;
}
.top-right ul li a span{
    color: red;
}
.resume-button{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
}
.resume-button:hover{
    border: 1px solid red;
}
.hamburger{
    display: none;
}
.hamburger i{
    display: none;
}
.home-page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#title-1{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 2.2rem;
}
.social a i{
    color: #fff;
    font-size: 2rem;
    margin: 20px;
}
.social a i:hover{
    color: red;
    transition: 00.4s;
    transform: scale(1.1);
}
.about-page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.about-me{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.about-me h1{
    font-size: 2rem;
    margin-top: 3rem;
}
.paragraph{
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.languages{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background-color: rgb(199, 225, 247); */
    margin: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.languages:hover{
    transform: scale(1.05);
    transition: 0.4s;
}
.languages img{
    height: 15vh;
    width: 15vh;
    margin: 10px;
}
.work-page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.work-page h1{
    margin-top: 10vh;
}
.project-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40vh;
    margin: 10px;
    text-align: justify;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.4s;
}
.card a{
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #fff;
    width: fit-content;
    padding: 10px;
    color: #fff;
}
.card a:hover{
    color: red;
    border: 1px solid red;
    transition: 0.4s;
}
.card img{
    width: 40vh;
    height: 24vh;
    opacity: 50%;
}
.card img:hover{
    opacity: 100%;
    transition: 0.4s;
}
.hide{
    display: none;
}
.project-button{
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 1.6rem;
    margin-top: 50px;
}
.project-button:hover{
    color: red;
    border: 2px solid red;
    transition: 0.4s;
}
.contact-page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contact-page h1{
    font-family: 'Raleway', sans-serif;
}
.contact-page a{
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 1.6rem;
}
.contact-page a:hover{
    color: red;
    border: 2px solid red;
    transition: 0.4s;
}
.footer{
    background-color: black;
    padding: 20px 0px;
    width: 100%;
}
.footer p{
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
} 
.fade-in.appear {
    opacity: 1;
}
@media (max-width: 480px){
    .navigation ul{
        display: none;
    }
    .navigation ul li a{
        display: none;
    }
    .languages{
        margin: 5px;
    }
    .languages img{
        height: 5vh;
        width: 5vh;
        margin: 5px;
    }
    .hamburger{
        display: inline-block;
        margin-left: 80%;
    }
    .hamburger i{
        display: inline-block;
        color: #fff;
        font-size: 1.7rem;
    }
}